<?xml version="1.0"?>
<launch>
    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="cat '$(find my_rb1_description)/urdf/my_rb1_robot.urdf'"/>

    <!-- Start the joint_state_publisher_gui node -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/>

    <!-- Start the robot_state_publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_rb1_description)/config/config.rviz" output="screen"/>
</launch>
