<launch>

    <!-- Include the launch file to spawn the robot model -->
    <include file="$(find my_rb1_gazebo)/launch/spawn_rb1.launch" />

    <!-- Start Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rb1_base_gazebo)/worlds/ros2_online_workshop.world"/>
        <arg name="debug" value="false" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- Launch joint_state_publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Launch robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
